# Laravel
/vendor
/node_modules
.env
.env.backup
Homestead.yaml
Homestead.json

# Laravel specific
/storage/*.key
/storage/*.log
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**

# IDEs and OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# npm and Vite
/public/hot
/public/build
/build
